.sidebar-menu {
    position: fixed;
    float: left;
    width: 160px;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #052963;
    color: #FFFFFF;
    z-index: 999;
}
.maincontent {
    float: right;
    width: 86%;
}
.menu {
    text-align: left;
}
#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}
#menu {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    margin-top: 60px;
    color: #FFFFFF;

}
#menu li  .active a {
    font-style: normal;
    font-weight: 400;
    position: relative;
    display: block;
    padding: 13px 20px;
    color: #fff;
    white-space: nowrap;
    z-index: 2;
    background-color: #021F4E;
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-left: 4px solid #021F4E;
}
#menu li a {
    font-style: normal;
    font-weight: 400;
    position: relative;
    display: block;
    padding: 13px 20px;
    color: #fff;
    white-space: nowrap;
    z-index: 2;
    background-color: #052963;
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
}
.logo{
	padding-top:25px;
	padding-bottom: 25px;
}
.date_picker{
	margin-bottom: 5px;
}
