.sidebar-menu {
    position: fixed;
    float: left;
    width: 160px;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #052963;
    color: #FFFFFF;
    z-index: 999;
}
.maincontent {
    float: right;
    width: 86%;
}
.menu {
    text-align: left;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    margin-top: 60px;
    color: #FFFFFF;

}
.menu > li.active > a,
.menu > .active > a:hover {
    font-style: normal;
    font-weight: 600;
    position: relative;
    display: block;
    padding: 18px 20px;
    margin-left: -8px;
    margin-right: -15px;
    color: #052963;
    white-space: nowrap;
    z-index: 2;
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    border-right: 6px solid #021F4E;
    background: #fff;
    }
.menu > li > a {
    font-style: normal;
    font-weight: 500;
    position: relative;
    display: block;
    padding: 18px 20px;
    color: #fff;
    white-space: nowrap;
    z-index: 2;
    margin-left: -8px;
    margin-right: -15px;
    background-color: #052963;
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
}
.logo{
	padding-top:25px;
	padding-bottom: 25px;
}
.date_picker{
	margin-bottom: 5px;
}
