/* Custom Styles */

nav {
  margin-top: 11px;
  margin-left: 10px;
  width: 100%;
}
#myNav ol, ul {
    list-style: outside none none;
}
#myNav li a {
    padding: 15px 5px;
}
#myNav li a {
    display: block;
    font-weight: 400;
    padding: 10px 20px;
}
ul.nav-tabs.affix {
	top: 30px; /* Set the top position of pinned element */
	position: relative;
}
.logo {
	padding-top:25px;
	padding-bottom: 25px;
}

